{
  "app": {
    "guid": "18a9bb89-7903-4101-94e4-293c38ee5b6a",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.ticket3740teste2",
    "artifactId": "io.cronapp.apps.ticket3740teste2"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MThhOWJiODktNzkwMy00MTAxLTk0ZTQtMjkzYzM4ZWU1YjZh",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Nenhuma",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.ticket3740teste2",
      "backend": "true",
      "theme": "Material",
      "authentication": "Nenhuma",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}